html * {
    font-family: 'Times New Roman', Times, serif !important
}

body {
    background-color: lightgray;
}

h2, p, .readme-wrapper {
    text-align: center
}

a {
    color: orange;
    text-decoration: none;
}

.boxes{
    display: block;
    margin: 1em;
    padding: 1em;
    border: solid;
    border-radius: 2em;
    width: 20%;
}

a:hover {
    cursor: pointer;
    font-weight: 700;
    color: green;
}

span {
    color: blue;
    font-weight: 900
}

#box1 {
    background-color: magenta;
}

#box2 {
    background-color: darkgray; 
}

#box3 {
    background-color:red;
}

#box4 {
    background-color: purple;
}

.image {
    width: 1em;
    height: 1em;
    background-color: yellow;
    display: inline;
    position: relative;
    right: 125px;
    bottom: 95px;
}

h1 {
    color: red;
}

.original {
    color: orange;
}

.new {
    color: darkslategrey;
}

#Rank1 {
    color: midnightblue;
}

#Rank2 {
    color: crimson;
}

#Rank3 {
    color: brown;
}

#Rank4 {
    color: silver;
}

#Rank5 {
    color: chartreuse;
}

.friends {
    color: red;
    border: solid black 2px;
}

.placesToVisit {
    color: blue;
    border: solid black 2px;
}

.favoriteRestaurants {
    color: green;
    border: solid black 2px;
}