html * {
    font-family: 'Times New Roman', Times, serif !important
}

body {
    background-color: lightgray;
}

h2, p, .readme-wrapper {
    text-align: center
}

a {
    color: red;
    text-decoration: none;
}

.boxes{
    display: inline-block;
    margin: 1em;
    padding: 1em;
    border: solid;
    border-radius: 2em;
}